
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" data-th-align="left" >Spring Application</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#" th:href="@{/home}">Home</a></li>
				<li><a href="#" th:href="@{/Customers}">Customers</a></li>
				<li><a href="#" th:href="@{/Products}">Products</a></li>
			</ul>

            <ul class="nav navbar-nav navbar-right">

                <form th:action="@{/logout}" method="post" class="navbar-form navbar-left">
                    <div class="form-group">
                        <button type="submit" class="btn btn-link">Logout</button>
                    </div>

                </form>

            </ul>

		</div>
	</div>
</div>
