<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>



<div layout:fragment="content">

    <h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>

    <h1 th:align="center">Spring Application</h1><br/>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" data-th-align="center" ><a href="Products">Products</a></h3>
        </div>

    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" data-th-align="center"><a href="Customers">Customers</a></h3>
        </div>
    </div>

    <form th:action="@{/logout}" method="post" class="nav navbar-nav navbar-right">
        <input type="submit" class="btn btn-danger btn-sm" value="Sign Out" />
    </form>

</div>
</body>
</html>