<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>Products</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Add new product</h1>

    <div class="panel-body">

        <form th:action="@{/products}" method="post">

            <table class="table table-bordered">
            <tr>
                <td><input type="text" class="form-control" name="name" placeholder="Name Of Product"></input></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="price" placeholder="Price Of Product (000.00)"></input></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-danger pull-center" value="Submit"></td>
            </tr>
            <tr>
                <td><a th:href="@{/home}" class="btn btn-success">Back To Home Page</a></td>
            </tr>

            </table>

        </form>

    </div>

</div>


</body>

</html>